@charset "utf-8";
/*reset*/
body,button,input,select,textarea{font:100%/1 "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei";}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0; padding:0;-webkit-text-size-adjust:100%;}
table{border-collapse:collapse;border-spacing:0;}
em,i{font-style:normal;}
li{list-style:none;}
img{border:0;}
input,img{vertical-align:middle;}
article,aside,footer,header,hgroup,nav,section,menu{display:block;}
a{text-decoration:none;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
html,body{height:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;color: #666666;font-size:16px;}
a,input,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);outline:none; -webkit-font-smoothing:antialiased}
select {  
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/  
  border: 0;  
  
  /*很关键：将默认的select选择框样式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  
  /*在选择框的最右侧中间显示小箭头图片*/  
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;  
  
  
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
  padding-left: 1rem;  
  padding-right: 1rem;
}  
  
  
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/  
select::-ms-expand { display: none; }  
